{% extends 'mytube/base.html' %}

{% block content %}
<div class="container">
    <h1> {{ userToView }} </h1>
    <a>{{ userToView }}</a> <a>|</a> <a> {{ userToView.subscriberstotal }} subscribers</a>
    {% if userVideos %}
        <a>| {{vidCount }} videos</a>
    {% endif %}
    <br><br>
    {% if userToView != request.user %}
        <div class="col-4"> 
            <a class="btn btn-outline-secondary" href="{% url 'user-subscribe' userToView.verToken %}"> Subscribe </a>
        </div>
    {% endif %}
    <br><br><br><br>
    <a style="font-size: 23.0pt" href="{% url "mytube-userprofile-featured" userToView.verToken %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Featured &nbsp; </a><a style="font-size: 23.0pt" href="{% url "mytube-userprofile-videos" userToView.verToken %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Video &nbsp;</a>
    <a style="font-size: 23.0pt" href="{% url "mytube-userprofile-playlists" userToView.verToken %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Playlists &nbsp;</a><a style="font-size: 23.0pt" href="{% url "mytube-userprofile-community" userToView.verToken %}" class="link-dark link-offset-2 link-underline link-underline-opacity-0">Community</a>
    <hr/>
</div>
{% endblock content %}